.paper {
    padding: 3em 2em 2em 2em;
    width: 100%;
}

.theme-light {
    background: #fafafa;
    border: 1px solid #ebebeb;
}

.theme-dark {
    background-color: #435863 !important;
    color: #ebebeb !important;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
